<!-- Describe task in general -->

<p>
    给定一个字符串。如果字符串是一个有效的数字（只包含数字），您的函数应返回{% if is_js %}<b class="code">true</b> {% else %} <b class="code">True</b> {% endif %} ，否则 -{% if is_js %}<b class="code">false</b> {% else %} <b class="code">False</b> {% endif %} 。请看示例。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>字符串。
</p>

<p>
   <strong>输出：</strong>布尔值。 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例：</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>如何使用：</strong>
    <i>用于检查必须只包含数字的字符串值。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件：</strong>
    <i>文本只包含字母、数字和空白。</i>
</p>