<!-- Describe task in general -->

<p>
    Тобі даний рядок. Твоя функція повинна повернути {% if is_js %}true{% else %}True{% endif %} якщо рядок є коректним числом (містить лише цифри), інакше - {% if is_js %}false{% else %}False{% endif %}. Подивись на приклад.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Текст.
</p>
<p>
    <strong>Вихідні дані:</strong> Булеве (логічне) значення. 
</p>

<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Де це використовується:</strong>
    <i>для перевірки текстових даних, які повинні складатися тільки із цифр.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумова:</strong>
    <i>рядок містить лише цифри, літери та пробіли.</i>
</p>